

body{
    background: url('../imagens/1f916.png')  repeat-x,
				url('../imagens/ruido.png'),
                
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
     color: white;
}

 .card-login {
    padding: 5px 0 0 0;
    width: 350px;
    margin: 0 auto;
    
}

/* Barra de navegação
-----------------------------*/

 .imagem img{
    margin: -80px;
    padding-left: 30%;
 }

header {

   height : 100px;
    
   background: rgba(0,0,0,0.4)
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 30px;
    color: white;
    margin: auto 300px;
}

h3 {
    color: rgb(241, 245, 251);
    font-weight: 900;
    
}
h4 {
    color: rgb(241, 245, 251);
    font-weight: 900;
    
}
#res{
    background-color:rgba(0,0,0,0.3) ;
}
.card{
    
	background: rgba(0,0,0,0.5);
}
.texto {
    background: rgba(0,0,0,0.1);
    margin-top: 2px;
}


#login{
    background: rgba(0,0,0,0.4);
}
#textos{
    background: rgba(0,0,0,0.4);
}
#exemplos{
    background: rgba(0,0,0,0.4);
}
.btn{
    background: rgba(0,0,0,0.6);
    color: white;
}
#formulario{
    background: rgba(0,0,0,0.6);
}
